.App {
  text-align: center;
  background-color: #d4dae6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d4dae6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shoe-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.shoe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin: 1%;
}


img {
  width: 10rem;
  height: 10rem;
}
.checkout{

}